<div class="mb-4 d-flex align-items-center gap-3 flex-wrap">
  <%= button_to "Rafraîchir la liste des client·e·s",
                import_clients_path,
                method: :post,
                class: "btn btn-danger",
                form: { data: { turbo_confirm: "Ceci va importer tous les client·e·s depuis Fliip. Continuer?" } } %>

  <span class="text-muted small">
    Cette opération peut prendre jusqu’à 1&nbsp;heure à compléter.
  </span>
</div>

<div class="d-flex flex-wrap gap-3">
  <%= button_to "Générer un nouveau code d’accès",
                manager_signup_codes_path,
                method: :post,
                class: "btn btn-primary btn-sm" %>
</div>
