<div class="modal fade" id="app-modal" tabindex="-1" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog modal-dialog-centered" data-modal-target="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-modal-target="title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div data-modal-target="body"></div>
      </div>
      <div class="modal-footer" data-modal-target="footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-modal-target="cancel">Annuler</button>
        <button type="button" class="btn btn-primary" data-modal-target="confirm">Continuer</button>
      </div>
    </div>
  </div>
</div>
