<%# Locals:
#   consultations: REQUIRED (Array<Consultation>)
%>

<div class="table-responsive">
  <table class="table table-striped table-bordered align-middle compact-bars">
    <thead class="table-light">
      <tr>
        <th class="text-nowrap w-35">Nom</th>
        <th class="text-nowrap w-25">Contact</th>
        <th class="text-nowrap w-20">Date et heure</th>
        <th class="text-nowrap text-center">Employé·e</th>
        <th class="text-center text-nowrap">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% if consultations.any? %>
        <% consultations.each do |c| %>
          <%= render "consultations/shared/consultation_row", consultation: c %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="text-muted">Aucune consultation à afficher.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
